university{  
    display:block;
    text-align:center;
    margin:20px;
    border-style:solid;
    border-color:pink;
    font-size:20px}
name{  
    font-style:italic;
    font-weight:bold;
    text-align:center}
city{  
    display:block;
    text-align:center; 
    border-top:solid;
    border-color:pink}
points{  
    display:block;
    text-align:center;
    border-top:solid;
    border-color:pink}
plan{  
    display:block;
    text-align:center;
    border-top:solid;
    border-color:pink}
specialty{  
    display:block;
    margin:50px 100px;
    border-style:solid;
    border-color:rgb(241, 97, 121)}
