body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(fff.png);
    color: white;
    font-family: cursive;
    }
    form{
        margin-top: 20px;
        margin-left: 120px;
        margin-right: 100px;
        background-color: rgba(0, 0, 0, 0.39);
        padding: 50px;
        border-radius: 20px;
    }
    